include PyQt_DOOM/resources/sound/*.wav
include PyQt_DOOM/resources/sound/*.mp3
include PyQt_DOOM/resources/sprites/animated_sprites/green_light/*.png
include PyQt_DOOM/resources/sprites/animated_sprites/red_light/*.png
include PyQt_DOOM/resources/sprites/npc/caco_demon/*.png
include PyQt_DOOM/resources/sprites/npc/caco_demon/attack/*.png
include PyQt_DOOM/resources/sprites/npc/caco_demon/death/*.png
include PyQt_DOOM/resources/sprites/npc/caco_demon/idle/*.png
include PyQt_DOOM/resources/sprites/npc/caco_demon/pain/*.png
include PyQt_DOOM/resources/sprites/npc/caco_demon/walk/*.png
include PyQt_DOOM/resources/sprites/npc/cyber_demon/*.png
include PyQt_DOOM/resources/sprites/npc/cyber_demon/attack/*.png
include PyQt_DOOM/resources/sprites/npc/cyber_demon/death/*.png
include PyQt_DOOM/resources/sprites/npc/cyber_demon/idle/*.png
include PyQt_DOOM/resources/sprites/npc/cyber_demon/pain/*.png
include PyQt_DOOM/resources/sprites/npc/cyber_demon/walk/*.png
include PyQt_DOOM/resources/sprites/npc/soldier/*.png
include PyQt_DOOM/resources/sprites/npc/soldier/attack/*.png
include PyQt_DOOM/resources/sprites/npc/soldier/death/*.png
include PyQt_DOOM/resources/sprites/npc/soldier/idle/*.png
include PyQt_DOOM/resources/sprites/npc/soldier/pain/*.png
include PyQt_DOOM/resources/sprites/npc/soldier/walk/*.png
include PyQt_DOOM/resources/sprites/static_sprites/*.png
include PyQt_DOOM/resources/sprites/weapon/shotgun/*.png
include PyQt_DOOM/resources/textures/*.png
include PyQt_DOOM/resources/textures/digits/*.png

include PyQt_DOOM/resources_alt/sound/*.wav
include PyQt_DOOM/resources_alt/sound/*.mp3
include PyQt_DOOM/resources_alt/sprites/animated_sprites/green_light/*.png
include PyQt_DOOM/resources_alt/sprites/animated_sprites/red_light/*.png
include PyQt_DOOM/resources_alt/sprites/npc/caco_demon/*.png
include PyQt_DOOM/resources_alt/sprites/npc/caco_demon/attack/*.png
include PyQt_DOOM/resources_alt/sprites/npc/caco_demon/death/*.png
include PyQt_DOOM/resources_alt/sprites/npc/caco_demon/idle/*.png
include PyQt_DOOM/resources_alt/sprites/npc/caco_demon/pain/*.png
include PyQt_DOOM/resources_alt/sprites/npc/caco_demon/walk/*.png
include PyQt_DOOM/resources_alt/sprites/npc/cyber_demon/*.png
include PyQt_DOOM/resources_alt/sprites/npc/cyber_demon/attack/*.png
include PyQt_DOOM/resources_alt/sprites/npc/cyber_demon/death/*.png
include PyQt_DOOM/resources_alt/sprites/npc/cyber_demon/idle/*.png
include PyQt_DOOM/resources_alt/sprites/npc/cyber_demon/pain/*.png
include PyQt_DOOM/resources_alt/sprites/npc/cyber_demon/walk/*.png
include PyQt_DOOM/resources_alt/sprites/npc/soldier/*.png
include PyQt_DOOM/resources_alt/sprites/npc/soldier/attack/*.png
include PyQt_DOOM/resources_alt/sprites/npc/soldier/death/*.png
include PyQt_DOOM/resources_alt/sprites/npc/soldier/idle/*.png
include PyQt_DOOM/resources_alt/sprites/npc/soldier/pain/*.png
include PyQt_DOOM/resources_alt/sprites/npc/soldier/walk/*.png
include PyQt_DOOM/resources_alt/sprites/static_sprites/*.png
include PyQt_DOOM/resources_alt/sprites/weapon/shotgun/*.png
include PyQt_DOOM/resources_alt/textures/*.png
include PyQt_DOOM/resources_alt/textures/digits/*.png

include PyQt_DOOM/src/game_settings/*.ui

include PyQT_DOOM/user_settings/*.json

include PyQT_DOOM/*.png
include PyQT_DOOM/*.ui